<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   
    package="com.londonentrepreneurshiponline"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ucladv"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.londonentrepreneurshiponline.MainActivity"
            android:label="@string/app_name" >
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.londonentrepreneurshiponline.AboutUs"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.londonentrepreneurshiponline.VideoActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.londonentrepreneurshiponline.SearchList"
            android:label="@string/app_name" >

        </activity>
        
        <activity
            android:name="com.londonentrepreneurshiponline.Heatmap"
            android:label="@string/app_name" >
        </activity>
        
        <activity android:name="org.achartengine.GraphicalActivity" />
        
        <activity
            android:name="com.londonentrepreneurshiponline.Login"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
